body {
  background-color: #fbfaff;
  overflow-y: auto;
  height: 100vh;
}

.full-container {
  background-color: white;
  height: 113px;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
  height: 32px;
  position: absolute;
}

.form-name {
  font-size: 42px;
  font-weight: 700;
  margin-left: 415px;
  margin-right: 480px;
  color: #1a1a1f;
  margin-top: 15px;
  position: absolute;
}

.back-arrow {
  width: 58px;
  top: 180px;
  left: 120px;
}

#image-input {
  margin-top: 200px;
  display: none;
}

.custom-upload {
  position: absolute;
  width: 800px;
  height: 240px;
  border-radius: 16px;
  border: 2px dashed #85858d;
  font-size: 18px;
  margin-top: 780px;
  margin-left: 360px;
  margin-right: 480px;
  background-color: #f4f3ff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.custom-upload-text {
  font-size: 18px;
  font-weight: 500;
  margin-top: 125px;
  margin-left: 420px;
}

.input-icon {
  width: 53px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  margin-bottom: 30px;
}

.custom-upload:hover {
  cursor: pointer;
}

.back-arrow:hover {
  cursor: pointer;
}

.form {
  display: flex;
  margin-top: 1000px;
}

.author-title {
  border-radius: 16px;
  width: 384px;
  height: 58px;
  font-size: 18px;
}

#description {
  width: 200px;
  height: 200px;
}
