body {
  background-color: #fbfaff;
  overflow-y: auto;
  min-height: 100vh;
}

.redberry-logo-middle {
  background-color: white;
  height: 113px;
  position: fixed;
  width: 100%;
  top: 0%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.full-container {
  background-color: #fbfaff;
  position: relative;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-bottom: 20px;
}

.logo {
  margin-top: 20px;
  width: 200px;
  height: 32px;
}

.form-name {
  font-size: 42px;
  font-weight: 700;
  color: #1a1a1f;
  margin-top: 15px;
}

.arrow-Link {
  width: 58px;
  top: 180px;
  left: 120px;
  position: fixed;
}

#image-input {
  display: none;
}

.custom-upload {
  width: 800px;
  height: 240px;
  border-radius: 16px;
  border: 2px dashed #85858d;
  font-size: 18px;
  background-color: #f4f3ff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 550px;
  margin-left: 480px;
}

.custom-upload-text {
  font-size: 18px;
  font-weight: 500;
  margin-right: 200px;
}

.input-icon {
  width: 53px;
  margin-left: 300px;
  margin-bottom: 30px;
}

.custom-upload:hover,
.back-arrow:hover {
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 20px;
  margin-top: 30px;
  margin-left: 470px;
}

.form-name {
}

.custom-upload-text {
}
