.blogs-window {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 65px;
  margin-right: 65px;
  margin-bottom: 70px;
  flex-wrap: wrap;
}

.seeAll:hover {
  cursor: pointer;
  color: #4922e5;
}
