.blogs-window {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: 65px;
  margin-right: 65px;
  margin-bottom: 70px;
  flex-wrap: wrap;
}

.seeAll:hover {
  cursor: pointer;
  color: #4922e5;
}

.see-more {
  position: relative;
  width: 26px;
  top: 6px;
}

.blogs-categories {
  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 543px;
  height: 80px;
  white-space: nowrap;
}

.blogs-categories::-webkit-scrollbar {
  display: none;
}
