.categoryButtons {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  justify-content: space-between;
  align-items: center;
  margin-top: 440px;
  margin-left: auto;
  margin-right: auto;
}

.categoryButtons button {
  margin: 5px;
}
