body {
  background-color: #fbfaff;
}

.zhuzhu {
  background-color: white;
  height: 113px;
  position: fixed;
  width: 100%;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 200px;
  height: 32px;
  position: absolute;
}

.form-name {
  font-size: 42px;
  font-weight: bold;
  color: #1a1a1f;
  left: 480px;
  top: 160px;
  position: absolute;
}

.back-arrow {
  position: relative;
  width: 58px;
  top: 150px;
  left: -800px;
}
