.header-image {
  width: 624px;
  height: 200px;
  position: absolute;
  right: 65px;
  margin-top: 140px;
}

h1 {
  position: absolute;
  top: 160px;
  left: 80px;
  font-weight: bold;
  color: #1a1a1f;
  font-size: 60px;
}
