.navigation {
  background-color: white;
  height: 113px;
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0%;
  display: flex;
  align-items: center;
  z-index: 2;
}

.redberry-logo {
  width: 200px;
  height: 32px;
  margin-left: 65px;
  position: relative;
}

.login-btn {
  position: absolute;
  right: 65px;
  font-family: "firaGo";
  font-size: 18px;
  font-weight: "500";
  padding: 13px 26px;
  background-color: #5d37f3;
  border-radius: 10px;
  color: #ffffff;
  border: none;
}

.login-btn:hover {
  cursor: pointer;
  background-color: #4922e5;
}
