.navigation {
  background-color: white;
  height: 70px;
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0%;
  display: flex;
  align-items: center;
}

.redberry-logo {
  width: 150px;
  height: 24px;
  margin-left: 65px;
  position: relative;
}

.login-btn {
  position: absolute;
  right: 65px;
  font-family: "firaGo";
  font-size: 14px;
  padding: 10px 20px;
  background-color: #5d37f3;
  border-radius: 8px;
  color: #ffffff;
  border: none;
}

.login-btn:hover {
  cursor: pointer;
  background-color: #4922e5;
}
