div {
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
}

.redberry-logo {
  width: 120px;
  margin-left: 50px;
}

.login-btn {
  position: absolute;
  right: 50px;
  font-family: "firaGo";
  font-size: 12px;
  padding: 10px 15px;
  background-color: #5d37f3;
  border-radius: 8px;
  color: #ffffff;
  border: none;
}

.login-btn:hover {
  cursor: pointer;
  background-color: #4922e5;
}
