.login-modal {
  background-color: white;
  font-family: "firaGo";
  border-radius: 16px;
  position: fixed;
  height: 362px;
  width: 640px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000085;
  z-index: 1;
}

.e-mail {
  padding-right: 460px;
  font-size: 18px;
  color: #1a1a1f;
  font-weight: bold;
  margin-top: 130px;
  margin-bottom: -4px;
  position: absolute;
}

.enter {
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  color: #1a1a1f;
  margin-top: 50px;
}

.input {
  border-radius: 16px;
  width: 560px;
  height: 58px;
  border: 2px solid #5d37f3;
  font-size: 18px;
  text-indent: 13px;
  margin-top: 165px;
  margin-bottom: -13px;
  position: absolute;
}

.error {
  border: 2px solid #ea1919;
  background-color: #faf2f3;
}

.closeWindow {
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #1a1a1f;
  margin-left: 580px;
  margin-top: 6px;
}

.closeWindow:hover {
  cursor: pointer;
}

.input:active {
  border-color: #5d37f3;
}

.input:focus {
  outline: none;
  background-color: #f7f7ff;
}

.window-login-bttn {
  width: 570px;
  height: 58px;
  font-size: 18px;
  border-radius: 16px;
  font-family: "firaGo";
  border: 2px solid #5d37f3;
  background-color: #5d37f3;
  color: white;
  outline: none;
  bottom: 40px;
  position: absolute;
}

.window-login-bttn:hover {
  cursor: pointer;
  border: 2px solid #4922e5;
  background-color: #4922e5;
}

.message {
  color: #ea1919;
  font-size: 16px;
  position: absolute;
  margin-top: 236px;
  left: 70px;
}
