@font-face {
  font-family: "firaGo";
  src: url("C:\Users\Elene\Downloads\Download_Folder_FiraGO_1001\FiraGO-Regular.ttf")
    format("ttf");
}

body {
  background-color: #f3f2fa;
  font-family: "firaGo";
  max-width: 1920px;
  margin: 0 auto;
}
